.container
  .row
    .col-md-4
      %h2 
        Your cart
      - @cart.shopping_cart_items.each do |dish|
        %p
          %div{id: dish.item.name}
            = dish.quantity
            = dish.item.name
            = dish.price
            $
            = form_tag cart_remove_item_path(dish), method: :get do
              = hidden_field_tag :dish_id, dish.item.id
              = hidden_field_tag :restaurant_id, @restaurant.id
              = number_field_tag :remove_amount, 1, min: 1
              = submit_tag 'Remove from cart', class: 'btn btn-primary'
      .delivery_button
        - if  @cart.shopping_cart_items.any?
          = link_to 'Clear cart', cart_clear_cart_path(@cart, restaurant_id: @restaurant.id), class: 'btn btn-primary'
      .delivery_button
        %br
        = link_to 'Back to restaurant', restaurant_path(@restaurant), class: 'btn btn-primary'

    .col-md-4
      %h2
        Checkout
      %h3
        Total items:
        = @cart.total_unique_items
      %h3
        Item cost:
        = @cart.total.to_i
        $
      - if @shipping_cost
        %h3
          Shipping cost:
          = @shipping_cost
          $
      %h3
        Total cost:
        = @total_cost
        $
      %h3
        You choose:
        = @delivery_method
      %br
      .delivery
        = form_tag cart_path, method: :get do
          = radio_button_tag 'delivery', 'delivery'
          Delivery (5$)
          = radio_button_tag 'delivery', 'pickup'
          Pickup (free)
          %br
          .delivery_button
            = submit_tag 'Save delivery option', class: 'btn btn-primary'
        = form_tag charges_path do
          = hidden_field_tag :cart_id, @cart.id
          %script.stripe-button{ src: 'https://checkout.stripe.com/checkout.js',
          data: {amount: @cart.total*100,
          description: 'Whatever',
          key: ENV['STRIPE_PUBLISHABLE_KEY'],
          currency: 'usd'}}

    .col-md-4
      = image_tag 'ufood-logo.png'