In cart:
- @cart.shopping_cart_items.each do |cart_item|
  %p
    = cart_item.quantity
    = cart_item.item.name
    = cart_item.price
    $
%br
%p
  Total items:
  = @cart.total_unique_items
%p
  Total cost:
  = @cart.total
  $
- if  @cart.shopping_cart_items.any?
  = link_to 'Clear cart', cart_clear_cart_path(@cart, restaurant_id: @restaurant.id), class: 'btn btn-primary'
= link_to 'Home', root_path, class: 'btn btn-primary'