.container
  %h1.logo
    What do you feel like tonight?
  = image_tag 'wheat.png', class: 'style_front_image'
  .row
    #categories
      - if @exist_any_restaurant
        %h2.choice Choose a category
      - @categories.each do |category|
        - if category.restaurants.near(@user_location, @range, units: :km).any?
          .col-sm-4.text-center
            %h3
              = link_to category.name, root_path(range: @range, category_id: category.id, anchor: 'categories'), class: 'btn btn-primary'
            = category.description
      - if !@exist_any_restaurant
        %h2.choice There are no restaurants within range. Choose another range below!
  #restaurants
    .row
      - if @current_category
        - if @exist_any_restaurant
          %h2.choice Choose a restaurant
        - @current_category_restaurants.near(@user_location, @range, units: :km).each do |restaurant|
          .col-md-4
            %h3.restaurant_list
              = link_to restaurant.name, restaurant_path(restaurant)
            .thumbnail
              = link_to restaurant_path(restaurant) do
                #{image_tag("#{restaurant.image.url}")}
              .caption
                .category_name
                  = restaurant.restaurant_category.name
                %p
                  = restaurant.address
                %p
                  = restaurant.description
  .range
    = form_tag root_path, method: :get do
      = radio_button_tag 'range', 'km3', 'checked'
      3 km
      = radio_button_tag 'range', 'km5', params[:range].eql?('km5')
      5 km
      = radio_button_tag 'range', 'km10', params[:range].eql?('km10')
      10 km
      = radio_button_tag 'range', 'km20', params[:range].eql?('km20')
      20 km
      = radio_button_tag 'range', 'large', params[:range].eql?('large')
      Unlimited
      = submit_tag 'Choose Range', class: 'btn btn-primary range-button'
  #map{style: 'width: 100%; height: 400px', data: {test: {env: "#{Rails.env.test?}"}}}
  .logo
    .row
      .col-md-10
        Thanks for ordering from us!
      .col-md-2
        = image_tag 'ufood-logo.png'
