%h1 Ufoods
%p What do you feel like tonight?
- if @collection.any?
  - @collection.each do |category, restaurants|
    .temp_box
      %h3
        = category.name
      %p
        = category.description
    .temp_box2#restaurant-list
      - restaurants.each do |restaurant|
        = link_to restaurant.name, restaurant_path(restaurant)
        %p
          = restaurant.address
- else
  .temp_box2#restaurant-list
    %h2 Getting your location...

#map{style: 'width: 800px; height: 400px', data: {test: {env: "#{Rails.env.test?}"}}}

