.container
  #categories
    %h1.logo
      What do you feel like tonight?
    = image_tag 'wheat.png', class: 'style_front_image'
    .row
      - @categories.each do |category|
        - if category.restaurants.near(@user_location, @range, units: :km).any?
          .col-sm-4.text-center
            %h3
              = link_to category.name, root_path(range: @range, category_id: category.id, anchor: 'restaurants'), class: 'btn btn-primary'
            = category.description
  = @range
  #restaurants
    .row
      - if @current_category
        - @current_category_restaurants.near(@user_location, @range, units: :km).each do |restaurant|
          .col-md-4
            %h3.restaurant_list
              = link_to restaurant.name, restaurant_path(restaurant)
            .thumbnail
              = link_to restaurant_path(restaurant) do
                #{image_tag("#{restaurant.pic_url}")}
              .caption
                .category_name
                  = restaurant.restaurant_category.name
                %p
                  = restaurant.address
                %p
                  = restaurant.description

  #map{style: 'width: 100%; height: 400px', data: {test: {env: "#{Rails.env.test?}"}}}

  = form_tag root_path, method: :get do
    = radio_button_tag 'range', 'short'
    10 km
    = radio_button_tag 'range', 'medium'
    30 km
    = radio_button_tag 'range', 'large'
    Unlimited
    %br
    .range-button
      = submit_tag 'Choose Range', class: 'btn btn-primary'

  .logo
    .row
      .col-md-10
        Thanks for ordering from us!
      .col-md-2
        = image_tag 'ufood-logo', class: 'logo_pic.png'
