- if @cart
  Cart:
  = @cart.shopping_cart_items.count
  (
  = link_to "Show cart" , cart_path(@cart)
  )
.br

.btn
  %p
  = link_to @restaurant.name, root_path, class: 'btn btn-primary'
  %p= @restaurant.address
.br
.btn-group
  - @category.each do |section|
    = link_to section.name, restaurant_path(section_id: section.id), class: 'btn btn-secondary'

  = if @current_dish_category
    - @current_dish_category.dishes.each do |item|
      = item.name
      = item.description
      = image_tag item.pic_url
      = item.price

- @dishes.each do |dish|
  %p
    Dish:
    = dish.name
  %p
    Description:
    = dish.description
  %p
    Price:
    = dish.price
    $

  = image_tag dish.pic_url

  .br
  .btn
  = link_to "Add #{dish.name} to cart" , add_to_cart_path(dish, restaurant_id: @restaurant.id), class: 'btn btn-secondary'
