- if @cart
  Cart:
  = @cart.total_unique_items
  - if  @cart.shopping_cart_items.any?
    (
    = link_to 'Show cart' , cart_path(@cart, restaurant_id: @restaurant.id)
    )
.br
.btn
  %p
  = link_to 'Home', root_path, class: 'btn btn-primary'
  %h1= @restaurant.name
  %p= @restaurant.address
  %p= @restaurant.description
.br 
.btn-group
  - @category.each do |section|
    = link_to section.name, restaurant_path(dish_category_id: section.id), class: 'btn btn-primary'
.br
  - if @current_dish_category
    - @current_dish_category.dishes.each do |dish|
      %div{id: dish.name}
        %p Dish:
        = dish.name
        %p Description:
        = dish.description
        %p Price:
        = dish.price
        $
        .br
        %img{alt: dish.name, src: dish.pic_url}/
        - if user_signed_in?
          = form_tag add_to_cart_path(dish), method: :get do
            = hidden_field_tag :restaurant_id, @restaurant.id
            = number_field_tag :amount, 1, min: 1
            = submit_tag 'Add to cart', class: 'btn btn-primary'
          - if  @cart.shopping_cart_items.any? {|obj| obj.item_id == dish.id}
            = form_tag cart_remove_item_path(dish), method: :get do
              = hidden_field_tag :dish_id, dish.id
              = hidden_field_tag :restaurant_id, @restaurant.id
              = number_field_tag :remove_amount, 1, min: 1
              = submit_tag 'Remove from cart', class: 'btn btn-primary'