.container
  .row
    %h1.logo= @restaurant.name
    .col-md-5
      .restaurant_pic
        = image_tag("#{@restaurant.image.url}")
    .col-md-7
      %h2.address
        = link_to @restaurant.address, ('https://www.google.com/maps/search/?api=1&query=' + @restaurant.latitude.to_s + ',' + @restaurant.longitude.to_s), target: :_blank
      %h2
        = @restaurant.description
  - if @restaurant.menus.any?
    %h2.choice
      Choose a menu
  .btn-group-justified
    - @dish_categories.each do |section|
      = link_to section.name, restaurant_path(dish_category_id: section.id), class: 'btn btn-primary'
  - if @current_dish_category
    - if @restaurant.dish_categories.any?
      %h2.choice
        Choose a dish
    .row
      - @current_category_dishes.each do |dish|
        .col-md-4
          %div{id: dish.name}
            %h3.restaurant_list
              = dish.name
            .thumbnail
              %img{alt: dish.name, src: dish.image.url}/
              .caption
                .caption.description
                  %p= dish.description
                  .price
                    = dish.price
                    $
                - if user_signed_in?
                  .button
                    = form_tag add_to_cart_path(dish), method: :get do
                      = hidden_field_tag :restaurant_id, @restaurant.id
                      = number_field_tag :amount, 1, min: 1
                      = submit_tag 'Add to cart', class: 'btn btn-primary'
                  .button
                    - if  @cart.shopping_cart_items.any? {|obj| obj.item_id == dish.id}
                      = form_tag cart_remove_item_path(dish), method: :get do
                        = hidden_field_tag :dish_id, dish.id
                        = hidden_field_tag :restaurant_id, @restaurant.id
                        = number_field_tag :remove_amount, 1, min: 1
                        = submit_tag 'Remove from cart', class: 'btn btn-primary'
                - else
                  = submit_tag 'Log in to order', disabled: true, class: 'btn btn-primary'


  = render @restaurant.reviews
  - if user_signed_in?
    %h2
      .button
        = link_to 'Add Review', new_restaurant_review_path(@restaurant)

:javascript
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
