- if @cart
  Cart:
  = @cart.total_unique_items
  (
  = link_to "Show cart" , cart_path(@cart)
  )
    
%p= @restaurant.name
%p= @restaurant.address
%p= @restaurant.description
- @dishes.each do |dish|
  %div{id: dish.name}
    %p
      Dish:
      = dish.name
    %p
      Description:
      = dish.description
    %p
      Category:
      = dish.category
    %p
      Restaurant:
      = dish.restaurant
    %p
      Price:
      = dish.price
      $
    %img{alt: dish.name, src: dish.pic_url}/
    = form_tag add_to_cart_path(dish, restaurant_id: @restaurant.id), method: :get do
      = text_field_tag :amount
      = submit_tag "Add #{dish.name} to cart"