- if @cart
  Cart:
  = @cart.total_unique_items
  (
  = link_to "Show cart" , cart_path(@cart)
  )
.br
.btn
  %p
  = link_to @restaurant.name, root_path, class: 'btn btn-primary'
  %p= @restaurant.address
  %p= @restaurant.description
.br
.btn-group
  - @category.each do |section|
    = link_to section.name, restaurant_path(dish_category_id: section.id), class: 'btn btn-secondary'
.br
  - if @current_dish_category
    - @current_dish_category.dishes.each do |item|
      %div{id: item.name}
        %p Dish:
        = item.name
        %p Description:
        = item.description
        %p Price:
        = item.price
        $
        .br
        = image_tag item.pic_url
        .br
        %img{alt: item.name, src: item.pic_url}/
        = form_tag add_to_cart_path(item, restaurant_id: @restaurant.id), method: :get do
          = text_field_tag :amount
          = submit_tag "Add #{item.name} to cart"