!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title UFoods
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script(src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initiateMap" async defer)
  %body
    .container-fluid
      - if flash[:notice]
        .notice= flash[:notice]
      = yield